/Dataset/aist_plusplus_final/cameras
/Dataset/aist_plusplus_final/keypoints2d
/Dataset/aist_plusplus_final/keypoints3d
/Dataset/aist_plusplus_final/motions
/Dataset/aist_plusplus_final/splits
/Dataset/aist_plusplus_final/video
/Dataset/aist_plusplus_final/audio

